html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
a:hover{
    filter:brightness(110%);
}
/* size */
.font-border{
    font-weight: 900 !important;
}
.font-small{
    font-size: 12px !important;
}
.font-medium{
    font-size: 20px !important;
}
.box{
    padding: 6px 18px;
    border-radius: 30px;
}
/* space */
.margin-tb-16{
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}
.margin-r-28{
    margin-right: -28px !important;
}
.margin-r-16{
    margin-right: -16px !important;
}
.margin-tb-70{
    margin: 70px 0 !important;
}
/* primary */
.center {
    text-align: center !important;
}
.btn-pink{
    background-color: #f76570;
}
.btn-purple{
    background-color: #ba71da;
}
.fa{
    height: 16px;
    width: 16px;
    color: black;
}
/* usefull */
.first-text{
    color: white;
}
.first-text_name{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 14px;
}
.first-text_decs{
    letter-spacing: 1.4px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 14px;
    text-transform: uppercase;
}
.first-decoration{
    font-style: normal;
    text-decoration: underline #f76570;
}
.second-text_name{
    color: rgb(58, 56, 56);
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.text{
    opacity: 0.5;
    letter-spacing: 1.3px;
}
.second-text_decs{
    font-size: 20px;
    opacity: 0.5;
    margin-bottom: 10px;
}
.second-decoration{
    font-style: normal;
    text-decoration: underline #14b9d5;
}
.cost{
    font-size: 28px;
    color: rgb(88, 85, 85);
    letter-spacing: 1.2px;
}
.cost-linethrough{
    font-size: 28px;
    opacity: 0.2;
    text-decoration: line-through;
    letter-spacing: 1.2px;
}
/* responsity */
.grid{
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 50px;
}
.grid-row{
    display: flex;
    flex-wrap: wrap;
}
.grid-row-center{
    display: flex;
    align-items: center;
    text-align: center;
}
.col-second{
    flex: 48%;
}
.col-third{
    flex: 30%;
}
.col-four{
    flex: 25%;
}