/* Header */
.navbar_icon{
    width: 160px;
    margin-top: -7px;
}
.navbar{
    background-color: rgba(0,0,0,0.12);    
    padding: 30px 40px;
}
.navbar-items{
    margin-left: 10px;
}
.navbar_item{
    padding: 2px 16px 4px;
    border-radius: 20px;
    position: relative;
}
.navbar_item::after{
    content: "";
    display: block;
    position: absolute;
    top: 24px;left: 14px;
    width: 80px;
    height: 21px;
}
.navbar_item:hover .subnav{
    display: block;
}   
.navbar-box{
    background-color: #f81888;
}
.navbar_link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar-toggler-icon{
    font-size: 10px;
    padding-bottom: 21px;
}
.subnav{
    padding: 0;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
    top: 34px;
    left: 2px;
    display: none;
    animation: slidein ease 0.4s;
}
.subnav_item{
    list-style-type: none;
    width: 140px;
    padding: 8px 14px;
    border-top: 0.5px solid rgba(0,0,0,0.05);
}
.subnav_item:hover{
    background-color: rgba(0,0,0,0.05);
}
.subnav_link{
    color: #858585;
}
/* Slider */
.slider{
    position: relative;
    padding-top: 50%;
    background: url(/travel/assets/img/slider.jpg) top center / cover no-repeat ;
}
.slider_text{
    position: absolute;
    top: 26%;left: 0;right: 0;
    justify-content: center;
    padding: 0 16vw;
}
.form-select{
    width: 42%;
    margin: 40px auto 40px;
    cursor: pointer;
    border-radius: 30px;
}
.slider_items{
    display: flex;
    margin: auto;
}
.slider_item{
    flex: 1;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.01);
    margin: 0 10px;
    background-color: rgba(0,0,0,0.23); 
    cursor: pointer;   
}
.slider_item:first-child{
    margin-left: 200px;
}
.slider_item:last-child{
    margin-right: 200px;
}
.item-img{
    height: 50px;
    transform: scale(0.5);
}
.item-name{
    color: white;
}
.navbar-toggler{
    border: 2px solid;
}
/* Content: Destinations */
.content-des_items .card{
    border: none;
}
.card-img{
    height: 360px;
    padding: 12px;
    filter:brightness(92%);
    border-radius: 16px;
}
.card-img-overlay{
    text-align: left;
}
.des-card-title{
    position: absolute;
    left: 40px;
    top: 30px;
    opacity: 0.8;
    font-size: 25px;
}
.des-card-text{
    position: absolute;
    bottom: 26px;
    left: 30px;
    font-size: 20px;
}
.des-sub{
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: #14b9d5;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    display: none;
}
.des-main:hover .des-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;
    animation: delay ease .7s;
}
.des_items-place{
    margin: 10px 0 20px;
    cursor: pointer;
}
.des_items-view{
    text-transform: uppercase;
    color: #14b9d5;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px 6px;
    cursor: pointer;
    font-weight: 700;
}
/* Content: Holiday */
.holiday-card-img{
    padding-top: 20%;
    background: url(/travel/assets/img/7.jpg) center/ cover no-repeat;
}
.holiday-card-title{
    position: absolute;
    left: 20%;
    top: 28%;
}
.holiday-box{
    position: absolute;
    right: 23%;
    top: 41%;
    padding: 10px 40px 14px;
    font-size: 20px;
    background-color: white;
    color:  rgb(236, 80, 18);
}
/* Content: Beaches */
.content-beaches{
    flex: 1;
}
.beaches-box{
    background-color: #1bbc9b;
    padding: 6px 30px 8px;
    max-width: fit-content;
    margin: 30px 0 30px 0;
}
.beaches-box-link{
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 900;
}
.content-beaches-img{
    flex: 2;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 35%;
    background: url(/travel/assets/img/8.jpg) center / cover no-repeat;
}
.beaches-time{
    background-color: #14b9d5;
    position: absolute;
    bottom: -40px;
    width: 100%;
    max-width: 700px;
    padding: 10px 30px;
}
.beaches-time > .beaches-date{
    position: relative;
    color: aliceblue;
    font-weight: 900;
    font-size: 30px;
}
.beaches-time .beaches-date-text{
    color: aliceblue;
    font-weight: 400;
    font-size: 14px;
    font-weight: 900;
}
.beaches-date::before{
    position: absolute;
    content: "/";
    color: rgb(139, 124, 124);
    opacity: 0.4;
    display: block;
    font-size: 30px;
    top: 10px;right: -6px;
}
.beaches-date:last-child:before{
    display: none;
}
/* Content: Icon */
.content-icon_item{
    display: flex;
}
.icon-img{
    height: 55px;
    margin-top: 20px;
    margin-right: 20px;
}
.content-icon_item > .icon-name{
    font-size: 26px;
    font-weight: 900;
}
.content-icon_item .text{
    font-size: 16px;
    margin-right: 10px;
    font-weight: normal;
}
.content-icon_item .icon-view{
    font-size: 16px;
    letter-spacing: 1.3px;
    opacity: 0.6;
}
/* Content: Discover */
.content-discover{
    display: flex;
}
.discover-cities{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26vh;
    width: 50vw;
    background: url(/travel/assets/img/parallax-5-filter.jpg) top center /cover no-repeat;
}
.discover-nature{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26vh;
    width: 50vw;
    background: url(/travel/assets/img/parallax-6-filter.jpg) top center /cover no-repeat;
}
.content-discover .first-text_decs{
    color: white;
    font-size: 14px;
    padding: 20px;
}
.content-discover .first-text_name{
    margin-bottom: 34px;
    font-size: 44px;
}
.discover-cities_box{
    background-color: white;
    padding: 10px 30px 12px;
    max-width: fit-content;
    margin: 0;
}
/* content-Packages */
.content-packages .card{
    margin: 0 10px;
}
.packages-slot{
    position: relative;
    font-size: 14px;
    cursor: pointer;
}
.packages-slot--yellow::before{
    position: absolute;
    content: "+1";
    display: block;
    top: 11px;right: -40px;
    width: 30px;
    height: 20px;
    background-color: #ffd205;
    color: white;
    border-radius: 16px;
    padding: 0 6px;
}
.packages-slot--pink::before{
    position: absolute;
    content: "+1";
    display: block;
    top: 11px;right: -40px;
    width: 30px;
    height: 20px;
    background-color: #f76570;
    color: white;
    border-radius: 16px;
    padding: 0 6px;
}
.packages-slot--purple::before{
    position: absolute;
    content: "+1";
    display: block;
    top: 11px;right: -40px;
    width: 30px;
    height: 20px;
    background-color: #ba71da;
    color: white;
    border-radius: 16px;
    padding: 0 6px;
}
.packages-item{
    display: flex;
    justify-content: space-between;
    padding:8px 0 14px;
    border-top: 1px solid rgb(223, 220, 220);
    border-bottom: 1px solid rgb(223, 220, 220);
}
.packages-card{
    position: relative;
}
.packages-card--yellow::before{
    cursor: pointer;
    position: absolute;
    content: "";
    display: block;
    bottom: -22px;right: 26px;
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.packages-card--yellow::after{
    cursor: pointer;
    position: absolute;
    content: "";
    display: block;
    bottom: -11px;right: 36px;
    background: url(/travel/assets/img/arch.png) top center / cover no-repeat;
    width: 30px;
    height: 30px;
}   
.packages-card--pink::before{
    cursor: pointer;
    position: absolute;
    content: "";
    display: block;
    bottom: -22px;right: 26px;
    background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.packages-card--pink::after{
    cursor: pointer;
    position: absolute;
    content: "";
    display: block;
    bottom: -11px;right: 36px;
    background: url(/travel/assets/img/torii-gate.png) top center / cover no-repeat;
    width: 30px;
    height: 30px;
}   
.packages-card--purple::before{
    cursor: pointer;
    position: absolute;
    content: "";
    display: block;
    bottom: -22px;right: 26px;
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.packages-card--purple::after{
    cursor: pointer;
    position: absolute;
    content: "";
    display: block;
    bottom: -11px;right: 36px;
    background: url(/travel/assets/img/golden-gate.png) top center / cover no-repeat;
    width: 30px;
    height: 30px;
}   
.package-box{
    color: white;
    margin: 8px 0;
}
/* Footer */
.footer{
    position: relative;
    height: 700px;
    background: url(/travel/assets/img/parallax-7.jpg) center / cover no-repeat;
}
.footer-header{
    position: absolute;
    top: 0;left: 0;right: 0;
    text-align: center;
}
.header-input{
    margin-top: 28px;
}
.header-input .input{
    border: none;
    margin-right: 20px;
    padding: 7px 25px;
    width: 60%;
}
.header-box{
    color: white;
}
.footer-card{
    position: absolute;
    left: 0;right: 0;bottom: 100px;
    background-color: white;
    border: 0.2px solid #fff2f2f8;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    padding: 30px;
}
.footertravel{
    padding-right: 14px;
}
.footer-icon{
    height: 45px;
    margin:10px 0 16px;
}
.footer-contact{
    margin: 26px 0 10px;
}
.footer-contact a{
    color: #333;
}
.footer-contact > a > i{
    font-size: 22px;
    opacity: 0.7;
}
.select-name{
    font-weight: 900;
}
.select-list{
    opacity: 0.5;
    list-style-type: none;
    padding: 8px 2px;
}
.select-list li{
    padding: 2px 0;
}
.select-list i{
    font-size: 10px;
}
.footer-end{
    position: absolute;
    justify-content: center;
    left: 0;right: 0;bottom: 34px;
    border: 0.1px solid #14b9d5;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    background-color: #14b9d5;
    color: white;
    padding: 20px;
}
.end-text{
    margin: 0;
    font-weight: 900;
}
@keyframes slidein{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }  
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }
@keyframes delay{
    from { 
        opacity: 0;
        transition: all .5s;
    }
    to {
        opacity: 1;
        transition: all .5s;
    }
}