@media screen and (max-width: 1200px){
    .col-second, .col-third{
        flex: 90%;
    }
    .card-img{
        height: auto;
    }
    .navbar-items{
        display: none;
    }
    .slider{
        padding-top: 930px;
    }
    .slider_text{
        top: 10%;
    }
    .slider_items{
        display: flex;
        flex-direction: column;
    }
    .slider_item{
        margin-top: 18px;
    }
    .slider_item:first-child{
        margin-left: 10px;
    }
    .slider_item:last-child{
        margin-right: 10px;
    }
    .first-text_name{
        font-size: 40px;
    }
    .first-text_decs{
        font-size: 16px;
    }
    .holiday-card-img{
        padding-top: 30%;
    }
    .content-beaches-img{
        padding-top: 60%;
    }
    .holiday-box{
        padding: 2px 10px 4px;
        font-size: 16px;
    }
    .content-icon_item{
        margin-left: 30px;
    }
    .content-discover{
        display: flex;
        flex-direction: column;
    }
    .content-discover .first-text_name{
        font-size: 40px;
    }
    .discover-cities{
        width: 100%;
    }
    .discover-nature{
        width: 100%;
    }
    .footer{
        height: 1450px;
    }
    .footer-card{
        opacity: 0.9;
    }
    .footer-end{
        opacity: 0.9;
    }
}   
@media screen and (max-width: 760px){
    .slider_text{
        margin-top: 100px;
    }
}
@media screen and (min-width: 761px) and (max-width: 978px){
    .slider_text{
        margin-top: 80px;
    }
}    
@media screen and (min-width: 979px) and (max-width: 1200px){   
    .slider_text{
        margin-top: 50px;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1400px){ 
    .slider_item:first-child{
        margin-left: 100px;
    }
    .slider_item:last-child{
        margin-right: 100px;
    }
}